<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @for (question of questions; track question.id){
  <div>
    <label [for]="question.id">{{ question.question }}</label>
    <!-- TODO: Linear -->
    @if (question.type === 'linear'){
    <div>
      <p>linear question</p>
    </div>
    }
    <!-- TODO: Yes/No -->
    @else if (question.type === 'yesno'){
    <div>
      <p>yes/no question</p>
    </div>
    }
    <!-- Text -->
    @else if (question.type === 'text'){
    <div>
      <input [id]="question.id" type="text" [formControlName]="question.id" />
    </div>
    }
    <!-- Number -->
    @else if (question.type === 'number'){
    <div>
      <input [id]="question.id" type="number" [formControlName]="question.id" />
    </div>
    }
  </div>
  <hr />
  }

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
