<header>
  <nav>
    <h1 routerLink="/">Home</h1>
    <ul>
      <!--routerLinkActiveOptions not needed, but for the future -->
      @if (selectedSurvey !== null){
      <li
        [routerLink]="['/survey', surveyId]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Answer Survey
      </li>
      <li [routerLink]="['/data', surveyId]" routerLinkActive="active">
        Responses
      </li>
      } @else {
      <li (click)="handleNoSurvey()">Answer Survey</li>
      <li (click)="handleNoSurvey()">Responses</li>
      }
      <li (click)="logout()">Logout</li>
    </ul>
  </nav>
</header>
