header {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h1 {
      cursor: pointer;
      &:hover {
        color: #777;
      }
    }
    ul {
      list-style: none;
      display: flex;
      gap: 16px;

      li {
        cursor: pointer;
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color 0.2s ease;

        &:hover {
          color: #ccc;
        }

        &.active {
          background-color: #555; // lighter than the navbar background
          color: white;
        }
      }
    }
  }
}
