<div class="home-container">
  <div class="home-box">
    <a routerLink="/create">
      <button class="home-button">Create Survey</button>
    </a>
    <div>
      <h1 class="survey-header">Survey Selection</h1>
      @if (surveys.length === 0){
      <p>please create a survey first</p>
      }
      <ul class="survey-list">
        @for (survey of surveys; track survey.id) {
        <li
          (click)="selectSurvey(survey)"
          [class.selected]="survey.id === selectedSurveyId"
          class="survey-item"
        >
          <strong>{{ survey.title }}</strong>
          <button
            class="delete-btn"
            (click)="deleteSurvey(survey.id); $event.stopPropagation()"
          >
            Delete
          </button>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
