<!-- Question creator form -->
<form
  [formGroup]="questionForm"
  (ngSubmit)="addQuestion()"
  class="question-form"
>
  <label for="question-name">Question:</label>
  <input id="question-name" type="text" formControlName="question" />

  <label for="question-type">Type:</label>
  <select id="question-type" formControlName="type">
    @for (type of questionTypes; track type) {
    <option [value]="type">{{ type }}</option>
    }
  </select>

  <!-- Show min/max only for linear -->
  @if (questionForm.get('type')?.value === 'linear') {
  <label for="linear-min">Min:</label>
  <input id="linear-min" type="number" formControlName="min" />

  <label for="linear-max">Max:</label>
  <input id="linear-max" type="number" formControlName="max" />
  }

  <button type="submit" [disabled]="questionForm.invalid">Add Question</button>
</form>

<hr />

<!-- Render added questions -->
<!-- NOTE: can probably try to make a reusable component from the original form page -->
<div class="survey-box">
  <h3>Survey Preview</h3>

  @for (q of questions; track q.id) { @if (q.type === 'text') {
  <app-textq [question]="q" [control]="previewControl" />
  } @else if (q.type === 'number') {
  <app-numberq [question]="q" [control]="previewControl" />
  } @else if (q.type === 'yesno') {
  <app-yesnoq [question]="q" [control]="previewControl" />
  } @else if (q.type === 'linear') {
  <app-linearq [question]="q" [control]="previewControl" />
  }
  <div>
    <button (click)="removeQuestion(q.id)">Delete</button>
  </div>
  <hr />
  }
  <div class="title-section">
    <label for="survey-title">Survey Title</label>
    <input id="survey-title" type="text" [formControl]="surveyTitle" />
  </div>
  <button
    (click)="saveSurvey()"
    [disabled]="questions.length === 0 || surveyTitle.invalid"
  >
    Save Survey
  </button>
</div>
