.question-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  margin-bottom: 24px;
  margin: 16px auto;
}

.survey-box {
  width: 40%;
  margin: 16px auto; /* Center it */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.title-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#survey-title {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
