<div>
  <label>{{ question.question }}</label>
  <div>
    <label>
      <!--NOTE: could be worth changing values to strings...
      ... `yes` and `no`, respectively -->
      <input
        type="radio"
        [formControl]="control"
        [value]="true"
        [name]="question.id"
        [id]="question.id + 'yes'"
      />
      Yes
    </label>
    <label>
      <input
        type="radio"
        [formControl]="control"
        [value]="false"
        [name]="question.id"
        [id]="question.id + 'no'"
      />
      No
    </label>
  </div>
</div>
